@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Dancing+Script&family=Poppins:wght@300&display=swap');

:root {
  --gradient: linear-gradient(130deg, #ee6352, purple, #ee6352);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: var(--gradient);
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  width: 1350px;
  height: 700px;

  background-color: #dde1e7;

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.welcome,
.details {
  height: 200px;
  width: 100%;

  /* margin-top: 4px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome > h2 {
  font-family: poppins;
  font-weight: 400;
  font-size: 30px;
}

.welcome > h2 > span {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 5px;
  font-weight: 800;
}

.welcomeText {
  font-family: poppins;
  font-weight: 400;
  font-size: 25px;
}

.userName {
  font-family: poppins;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 600;
}

.nameBox,
.emailBox,
.mobileBox {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-family: poppins;
  font-weight: bold;
}

.nameBox > p {
  width: 400px;
}
.emailBox > p {
  width: 400px;
}
.mobileBox > p {
  width: 400px;
}

.actionBtns {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.actionBtns > button {
  width: 150px;
  height: 40px;

  border: 0px solid transparent;
  border-radius: 5px;

  color: purple;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  /* background-color: purple; */
  background-color: transparent;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  /* box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #6d676773; */

  transition: all 0.3s ease-in-out;
}

.actionBtns > button:hover {
  background-color: purple;
  color: white;
  cursor: pointer;
}

/* =========================== LOADER ANIMATION ====================================== */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right, silver, teal); */
  background: var(--gradient);
}

.loader {
  width: 16em;
  height: 8em;
  position: relative;
  overflow: hidden;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  bottom: 0;
}

.loader::before {
  width: inherit;
  height: 0.2em;
  background-color: hsla(0, 0%, 85%);
}

.loader::after {
  box-sizing: border-box;
  width: 50%;
  height: inherit;
  border: 0.2em solid hsla(0, 0%, 85%);
  border-radius: 50%;
  left: 25%;
}

.loader span {
  position: absolute;
  width: 5%;
  height: 10%;
  background-color: white;
  border-radius: 50%;
  bottom: 0.2em;
  left: -5%;
  animation: 2s linear infinite;
  transform-origin: 50% -3em;
  animation-name: run, rotating;
}

.loader span:nth-child(2) {
  animation-delay: 0.075s;
}
.loader span:nth-child(3) {
  animation-delay: 0.15s;
}

@keyframes run {
  0% {
    left: -5%;
  }
  10%,
  60% {
    left: calc((100% - 5%) / 2);
  }
  70%,
  100% {
    left: 100%;
  }
}

@keyframes rotating {
  0%,
  10% {
    transform: rotate(0deg);
  }
  60%,
  100% {
    transform: rotate(-1turn);
  }
}
